:root { --size: 500px; }

body {
  background-color: #ef972c;
  overflow: hidden;
}

img {
  position: absolute;
  left: calc(50% - var(--size)/2);
  top: calc(50% - var(--size)/2);
  width: var(--size);
  animation: spin 1s linear infinite;
}

p {
  position: absolute;
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 50%);
  left: 50%;
  top: calc(50% + var(--size)*2/3);
  transform: translateX(-50%);
  width: 50%;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
